         <div class="filters-orders">
            <a href="#FIXME" class="save-filters">Salvar fitro</a>
            <div class="selected-filters">
               <p>Você está usando os seguintes filtros:</p>
               <ul>
                    <li>Niterói<a href="#FIXME">X</a></li>
                    <li>Web<a href="#FIXME">X</a></li>
               </ul>
            </div>
            <nav>
                <li><strong>Ordenar por:</strong></li>
                <li><a href="#FIXME">Relevância</a></li>
                <li><a href="#FIXME">Salário</a></li>
                <li><a href="#FIXME">Carga Horária</a></li>
                <li><a href="#FIXME">Data de Inclusão</a></li>
                <li><a href="#FIXME">Período</a></li>
            </nav>
         </div>