{% extends "util/base.html" %}


{% block main %}
<div class="centered content">
   	<aside>
   		<h3>Localização</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   		<h3>Área de atuação</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   		<h3>Tipo de empresa</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   	</aside>
   	<section>
   		<a href="#FIXME" class="save-filters"></a>
   		<div class="selected-filters">
   			<p>Você está usando os seguintes filtros:</p>
   			<ul>
   				<li>Niterói<a href="#FIXME">X</a></li>
   				<li>Web<a href="#FIXME">X</a></li>
   			</ul>
   		</div>
   	</section>
</div>
{% endblock main %}


{% block body_bottom_js %}
    {{ block.super }}    
{% endblock body_bottom_js %}
