{% extends "util/base.html" %}


{% block main %}
<div class="centered content">
   	<aside>
   		<h3>Localização</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   		<h3>Área de atuação</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   		<h3>Tipo de empresa</h3>
   		<ul>
   			<li>Rio de Janeiro</li>
   			<li>São Paulo</li>
   			<li>Minas Gerais</li>
   			<li>Brasilia</li>
   			<li>Recife</li>
   		</ul>
   	</aside>
   	<section>
         <div class="filters-orders">
            <a href="#FIXME" class="save-filters">Salvar fitro</a>
            <div class="selected-filters">
               <p>Você está usando os seguintes filtros:</p>
               <ul>
                    <li>Niterói<a href="#FIXME">X</a></li>
                    <li>Web<a href="#FIXME">X</a></li>
               </ul>
            </div>
            <nav>
                <li><strong>Ordenar por:</strong></li>
                <li><a href="#FIXME">Relevância</a></li>
                <li><a href="#FIXME">Salário</a></li>
                <li><a href="#FIXME">Carga Horária</a></li>
                <li><a href="#FIXME">Data de Inclusão</a></li>
                <li><a href="#FIXME">Período</a></li>
            </nav>
         </div>
         <ul class="vacancies">
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
            <li>
                <a href="#FIXME">
                    <img src="{{ STATIC_URL }}images/logo-vale.png" />
                    <h3>Designer de Interfaces</h3>
                    <p class="company">SparkIT - Web and mobile apps</p>
                    <p><strong>Descrição:</strong></p>
                    <p>Bacon ipsum dolor sit amet swine strip steak frankfurter chicken, rump turkey venison kielbasa bacon pork chop filet mignon shank ham salami pork belly.</p>
                    <p class="money-time">Salário<br/><span>R$ 800,00</span></p>
                    <p class="money-time">Carga Horária<br/><span>20h/sem.</span></p>
                </a>
            </li>
         </ul>
   	</section>
</div>
{% endblock main %}


{% block body_bottom_js %}
    {{ block.super }}    
{% endblock body_bottom_js %}
