/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*************************************** sass *************************************** */
/*************************************** body *************************************** */
/* line 19, ../sass/style.sass */
body {
  background: url(../images/background.jpg);
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

/* line 24, ../sass/style.sass */
.centered {
  margin: 0 auto;
  width: 980px;
}

/* line 28, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 30, ../sass/style.sass */
a:hover {
  text-decoration: underline;
}

/*************************************** header *************************************** */
/* line 35, ../sass/style.sass */
header {
  background: url(../images/background-header.jpg);
  height: 175px;
  width: 100%;
}
/* line 39, ../sass/style.sass */
header .fb-login {
  background: url(../images/facebook-btn.png);
  color: white;
  float: right;
  height: 38px;
  line-height: 38px;
  margin: 25px 0;
  width: 160px;
  padding: 0 0 0 42px;
  font-size: 13px;
  text-decoration: none;
}
/* line 50, ../sass/style.sass */
header h1 {
  display: inline-block;
}
/* line 52, ../sass/style.sass */
header h1 a {
  background: url(../images/logo.png);
  display: block;
  height: 85px;
  margin: 25px 0;
  width: 447px;
  text-indent: -9999px;
}
/* line 59, ../sass/style.sass */
header .menu {
  list-style: none;
  font-family: "Patua One", cursive;
}
/* line 62, ../sass/style.sass */
header .menu li {
  float: left;
}
/* line 64, ../sass/style.sass */
header .menu a {
  color: #3c5591;
  text-shadow: 0 1px 0 white;
  margin: 0 50px 0 0;
}

/*************************************** fields *************************************** */
/* line 70, ../sass/style.sass */
.fields {
  height: 43px;
  width: 100%;
  border-bottom: 7px solid #24304f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #617bba), color-stop(100%, #396fa6));
  background-image: -webkit-linear-gradient(#617bba, #396fa6);
  background-image: -moz-linear-gradient(#617bba, #396fa6);
  background-image: -o-linear-gradient(#617bba, #396fa6);
  background-image: -ms-linear-gradient(#617bba, #396fa6);
  background-image: linear-gradient(#617bba, #396fa6);
  border-top: 1px solid #c0cbe4;
  -webkit-box-shadow: 0px -1px 20px -4px black;
  -moz-box-shadow: 0px -1px 20px -4px black;
  box-shadow: 0px -1px 20px -4px black;
  font-family: "Patua One", cursive;
}
/* line 76, ../sass/style.sass */
.fields li {
  float: left;
  border-right: 1px solid #24304f;
  padding: 0 10px 0 6px;
}
/* line 80, ../sass/style.sass */
.fields li:first-child {
  border-left: 1px solid #24304f;
}
/* line 82, ../sass/style.sass */
.fields span {
  width: 30px;
  height: 32px;
  display: inline-block;
}
/* line 86, ../sass/style.sass */
.fields .engenharia {
  background: url(../images/icones/engenharia.png) no-repeat -10px 6px;
}
/* line 88, ../sass/style.sass */
.fields li:hover .engenharia {
  background: url(../images/icones/engenharia.png) no-repeat -40px 6px;
}
/* line 90, ../sass/style.sass */
.fields .direito {
  background: url(../images/icones/direito.png) no-repeat -10px 6px;
}
/* line 92, ../sass/style.sass */
.fields li:hover .direito {
  background: url(../images/icones/direito.png) no-repeat -40px 6px;
}
/* line 94, ../sass/style.sass */
.fields .administracao {
  background: url(../images/icones/administracao.png) no-repeat -10px 6px;
}
/* line 96, ../sass/style.sass */
.fields li:hover .administracao {
  background: url(../images/icones/administracao.png) no-repeat -40px 6px;
}
/* line 98, ../sass/style.sass */
.fields .economia {
  background: url(../images/icones/economia.png) no-repeat -10px 6px;
}
/* line 100, ../sass/style.sass */
.fields li:hover .economia {
  background: url(../images/icones/economia.png) no-repeat -40px 6px;
}
/* line 102, ../sass/style.sass */
.fields .programacao {
  background: url(../images/icones/programacao.png) no-repeat -10px 6px;
}
/* line 104, ../sass/style.sass */
.fields li:hover .programacao {
  background: url(../images/icones/programacao.png) no-repeat -40px 6px;
}
/* line 106, ../sass/style.sass */
.fields .design {
  background: url(../images/icones/design.png) no-repeat -10px 6px;
}
/* line 108, ../sass/style.sass */
.fields li:hover .design {
  background: url(../images/icones/design.png) no-repeat -40px 6px;
}
/* line 110, ../sass/style.sass */
.fields .publicidade {
  background: url(../images/icones/publicidade.png) no-repeat -10px 6px;
}
/* line 112, ../sass/style.sass */
.fields li:hover .publicidade {
  background: url(../images/icones/publicidade.png) no-repeat -40px 6px;
}
/* line 114, ../sass/style.sass */
.fields .outros {
  background: url(../images/icones/outros.png) no-repeat -10px 6px;
}
/* line 116, ../sass/style.sass */
.fields li:hover .outros {
  background: url(../images/icones/outros.png) no-repeat -40px 6px;
}
/* line 118, ../sass/style.sass */
.fields a {
  color: white;
  display: block;
  vertical-align: top;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
/* line 125, ../sass/style.sass */
.fields li:hover a {
  color: #c0ff00;
  text-decoration: none;
}

/*************************************** content *************************************** */
/* line 130, ../sass/style.sass */
.content {
  padding: 50px 0;
  min-height: 150px;
  font-size: 12px;
}
/* line 134, ../sass/style.sass */
.content aside {
  width: 240px;
  float: left;
  margin: 0 0 50px;
}
/* line 138, ../sass/style.sass */
.content aside h3 {
  font-family: "Patua One", cursive;
  color: #3a63ac;
  font-size: 18px;
}
/* line 142, ../sass/style.sass */
.content aside ul {
  margin: 10px 0 40px 10px;
}
/* line 144, ../sass/style.sass */
.content aside li {
  margin: 0 0 3px;
  font-weight: bold;
}
/* line 147, ../sass/style.sass */
.content section {
  width: 700px;
  float: right;
  margin: 0 0 50px;
}

/*************************************** publish *************************************** */
/* line 155, ../sass/style.sass */
.publish {
  clear: both;
  background: #30416a;
  height: 75px;
  line-height: 75px;
  width: 100%;
  font-family: "Patua One", cursive;
}
/* line 162, ../sass/style.sass */
.publish p {
  color: white;
  font-size: 26px;
  text-shadow: 0 1px 0 black;
}
/* line 166, ../sass/style.sass */
.publish p a {
  background: #c0ff00;
  color: black;
  padding: 8px 30px;
  margin: 0 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 0 black;
  -moz-box-shadow: 4px 4px 0 0 black;
  box-shadow: 4px 4px 0 0 black;
  text-shadow: 0 1px 0 white;
}

/*************************************** footer *************************************** */
/* line 176, ../sass/style.sass */
footer {
  height: 70px;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #617bba), color-stop(100%, #396fa6));
  background-image: -webkit-linear-gradient(#617bba, #396fa6);
  background-image: -moz-linear-gradient(#617bba, #396fa6);
  background-image: -o-linear-gradient(#617bba, #396fa6);
  background-image: -ms-linear-gradient(#617bba, #396fa6);
  background-image: linear-gradient(#617bba, #396fa6);
  border-top: 1px solid #c0cbe4;
  -webkit-box-shadow: 0px -1px 20px -4px black;
  -moz-box-shadow: 0px -1px 20px -4px black;
  box-shadow: 0px -1px 20px -4px black;
}
/* line 180, ../sass/style.sass */
footer .sparkit {
  color: white;
  text-shadow: 0 1px 0 black;
  float: right;
  text-align: center;
  font-size: 14px;
}
