/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*************************************** sass *************************************** */
/*************************************** body *************************************** */
/* line 29, ../sass/style.sass */
body {
  background: url(../images/background.jpg);
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

/* line 34, ../sass/style.sass */
.centered {
  margin: 0 auto;
  width: 980px;
}

/* line 38, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 40, ../sass/style.sass */
a:hover {
  text-decoration: underline;
}

/* line 43, ../sass/style.sass */
strong {
  font-weight: bold;
}

/*************************************** header *************************************** */
/* line 48, ../sass/style.sass */
header {
  background: url(../images/background-header.jpg);
  height: 175px;
  width: 100%;
}
/* line 52, ../sass/style.sass */
header .fb-login {
  background: url(../images/facebook-btn.png);
  color: white;
  float: right;
  height: 38px;
  line-height: 38px;
  margin: 25px 0;
  width: 160px;
  padding: 0 0 0 42px;
  font-size: 13px;
  text-decoration: none;
}
/* line 63, ../sass/style.sass */
header h1 {
  display: inline-block;
}
/* line 65, ../sass/style.sass */
header h1 a {
  background: url(../images/logo.png);
  display: block;
  height: 85px;
  margin: 25px 0;
  width: 447px;
  text-indent: -9999px;
}
/* line 72, ../sass/style.sass */
header .menu {
  list-style: none;
  font-family: "Patua One", cursive;
}
/* line 75, ../sass/style.sass */
header .menu li {
  float: left;
}
/* line 77, ../sass/style.sass */
header .menu a {
  color: #3c5591;
  text-shadow: 0 1px 0 white;
  margin: 0 50px 0 0;
}

/*************************************** fields *************************************** */
/* line 83, ../sass/style.sass */
.fields {
  height: 43px;
  width: 100%;
  border-bottom: 7px solid #24304f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #617bba), color-stop(100%, #396fa6));
  background-image: -webkit-linear-gradient(#617bba, #396fa6);
  background-image: -moz-linear-gradient(#617bba, #396fa6);
  background-image: -o-linear-gradient(#617bba, #396fa6);
  background-image: -ms-linear-gradient(#617bba, #396fa6);
  background-image: linear-gradient(#617bba, #396fa6);
  border-top: 1px solid #c0cbe4;
  -webkit-box-shadow: 0px -1px 20px -4px black;
  -moz-box-shadow: 0px -1px 20px -4px black;
  box-shadow: 0px -1px 20px -4px black;
  font-family: "Patua One", cursive;
}
/* line 89, ../sass/style.sass */
.fields li {
  float: left;
  border-right: 1px solid #24304f;
  padding: 0 10px 0 6px;
}
/* line 93, ../sass/style.sass */
.fields li:first-child {
  border-left: 1px solid #24304f;
}
/* line 95, ../sass/style.sass */
.fields span {
  width: 30px;
  height: 32px;
  display: inline-block;
}
/* line 99, ../sass/style.sass */
.fields .engenharia {
  background: url(../images/icones/engenharia.png) no-repeat -10px 6px;
}
/* line 101, ../sass/style.sass */
.fields li:hover .engenharia {
  background: url(../images/icones/engenharia.png) no-repeat -40px 6px;
}
/* line 103, ../sass/style.sass */
.fields .direito {
  background: url(../images/icones/direito.png) no-repeat -10px 6px;
}
/* line 105, ../sass/style.sass */
.fields li:hover .direito {
  background: url(../images/icones/direito.png) no-repeat -40px 6px;
}
/* line 107, ../sass/style.sass */
.fields .administracao {
  background: url(../images/icones/administracao.png) no-repeat -10px 6px;
}
/* line 109, ../sass/style.sass */
.fields li:hover .administracao {
  background: url(../images/icones/administracao.png) no-repeat -40px 6px;
}
/* line 111, ../sass/style.sass */
.fields .economia {
  background: url(../images/icones/economia.png) no-repeat -10px 6px;
}
/* line 113, ../sass/style.sass */
.fields li:hover .economia {
  background: url(../images/icones/economia.png) no-repeat -40px 6px;
}
/* line 115, ../sass/style.sass */
.fields .programacao {
  background: url(../images/icones/programacao.png) no-repeat -10px 6px;
}
/* line 117, ../sass/style.sass */
.fields li:hover .programacao {
  background: url(../images/icones/programacao.png) no-repeat -40px 6px;
}
/* line 119, ../sass/style.sass */
.fields .design {
  background: url(../images/icones/design.png) no-repeat -10px 6px;
}
/* line 121, ../sass/style.sass */
.fields li:hover .design {
  background: url(../images/icones/design.png) no-repeat -40px 6px;
}
/* line 123, ../sass/style.sass */
.fields .publicidade {
  background: url(../images/icones/publicidade.png) no-repeat -10px 6px;
}
/* line 125, ../sass/style.sass */
.fields li:hover .publicidade {
  background: url(../images/icones/publicidade.png) no-repeat -40px 6px;
}
/* line 127, ../sass/style.sass */
.fields .outros {
  background: url(../images/icones/outros.png) no-repeat -10px 6px;
}
/* line 129, ../sass/style.sass */
.fields li:hover .outros {
  background: url(../images/icones/outros.png) no-repeat -40px 6px;
}
/* line 131, ../sass/style.sass */
.fields a {
  color: white;
  display: block;
  vertical-align: top;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
  text-shadow: -1px -1px 0px black;
}
/* line 139, ../sass/style.sass */
.fields li:hover a {
  color: #c0ff00;
  text-decoration: none;
}

/*************************************** content *************************************** */
/* line 144, ../sass/style.sass */
.content {
  padding: 50px 0;
  min-height: 150px;
  font-size: 12px;
}
/* line 148, ../sass/style.sass */
.content aside {
  width: 240px;
  float: left;
  margin: 0 0 50px;
}
/* line 152, ../sass/style.sass */
.content aside h3 {
  font-family: "Patua One", cursive;
  color: #3a63ac;
  font-size: 18px;
}
/* line 156, ../sass/style.sass */
.content aside ul {
  margin: 10px 0 40px 10px;
}
/* line 158, ../sass/style.sass */
.content aside li {
  margin: 0 0 3px;
  font-weight: bold;
}
/* line 161, ../sass/style.sass */
.content section {
  width: 700px;
  float: right;
  margin: 0 0 50px;
}
/* line 166, ../sass/style.sass */
.content section .filters-orders .save-filters {
  background: #989898;
  color: white;
  display: block;
  float: right;
  height: 23px;
  line-height: 23px;
  margin: 4px 0 0;
  text-align: center;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0 0 black;
  -moz-box-shadow: 1px 1px 0 0 black;
  box-shadow: 1px 1px 0 0 black;
}
/* line 178, ../sass/style.sass */
.content section .filters-orders .selected-filters {
  background: #d1d0d1;
  color: black;
  height: 21px;
  line-height: 21px;
  width: 540px;
  padding: 7px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 186, ../sass/style.sass */
.content section .filters-orders .selected-filters p {
  float: left;
  margin: 0 10px 0 0;
}
/* line 189, ../sass/style.sass */
.content section .filters-orders .selected-filters li {
  background: #3a63ac;
  color: white;
  float: left;
  margin: 0 3px;
  padding: 0 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 196, ../sass/style.sass */
.content section .filters-orders .selected-filters li a {
  color: black;
  margin: 0 0 0 6px;
}
/* line 199, ../sass/style.sass */
.content section .filters-orders nav {
  border-bottom: 4px solid #3a63ac;
  display: inline-block;
  margin: 20px 0;
  padding: 0 0 4px;
  width: 100%;
}
/* line 205, ../sass/style.sass */
.content section .filters-orders nav li {
  float: left;
  list-style: none;
  margin: 0 50px 0 0;
}
/* line 209, ../sass/style.sass */
.content section .filters-orders nav li a {
  color: black;
}
/* line 211, ../sass/style.sass */
.content section .vacancies {
  width: 710px;
}
/* line 213, ../sass/style.sass */
.content section .vacancies li {
  background: white;
  float: left;
  margin: 0 10px 10px 0;
  padding: 15px 0;
  width: 226px;
  -webkit-box-shadow: 0px 0px 10px -4px black;
  -moz-box-shadow: 0px 0px 10px -4px black;
  box-shadow: 0px 0px 10px -4px black;
}
/* line 220, ../sass/style.sass */
.content section .vacancies li a {
  text-decoration: none;
}
/* line 222, ../sass/style.sass */
.content section .vacancies li img {
  padding: 0 15px 5px;
}
/* line 224, ../sass/style.sass */
.content section .vacancies li h3 {
  border-top: 1px solid #d1d0d1;
  color: #3a63ac;
  padding: 12px 15px 4px;
  width: 196px;
}
/* line 229, ../sass/style.sass */
.content section .vacancies li .company {
  color: #757575;
  padding: 0 15px 15px;
}
/* line 232, ../sass/style.sass */
.content section .vacancies li p {
  color: black;
  padding: 0 15px 5px;
}
/* line 235, ../sass/style.sass */
.content section .vacancies li .money-time {
  color: #757575;
  float: left;
  margin: 10px 0 0;
  width: 83px;
}
/* line 240, ../sass/style.sass */
.content section .vacancies li .money-time span {
  color: #3a63ac;
  display: block;
  font-size: 16px;
  margin: 3px 0 0;
  font-family: "Patua One", cursive;
}
/* line 246, ../sass/style.sass */
.content section .vacancies li:hover {
  -webkit-box-shadow: 0px 0px 10px -1px black;
  -moz-box-shadow: 0px 0px 10px -1px black;
  box-shadow: 0px 0px 10px -1px black;
}

/* line 249, ../sass/style.sass */
.companies {
  min-height: 150px;
  font-size: 12px;
}
/* line 252, ../sass/style.sass */
.companies h2 {
  font-family: "Patua One", cursive;
  color: #3a63ac;
  font-size: 27px;
  margin: 40px 0;
  text-shadow: 2px 2px 1px white;
}
/* line 258, ../sass/style.sass */
.companies hr {
  border-top: 2px solid #b7b7b7;
  border-bottom: 2px solid #f1f2f1;
}
/* line 261, ../sass/style.sass */
.companies .upgrade {
  float: left;
  margin: 0 0 50px;
  width: 470px;
}
/* line 265, ../sass/style.sass */
.companies .upgrade h3 {
  color: #535353;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 2px 1px white;
}
/* line 270, ../sass/style.sass */
.companies .upgrade .img {
  display: block;
  background: #535353;
  height: 140px;
  width: 470px;
  margin: 20px 0 25px;
}
/* line 276, ../sass/style.sass */
.companies .upgrade p {
  width: 275px;
}
/* line 278, ../sass/style.sass */
.companies .upgrade a {
  font-size: 26px;
  background: #c0ff00;
  color: black;
  padding: 8px 30px;
  margin: 0 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 0 black;
  -moz-box-shadow: 4px 4px 0 0 black;
  box-shadow: 4px 4px 0 0 black;
  text-shadow: 0 1px 0 white;
  float: right;
}
/* line 281, ../sass/style.sass */
.companies .upgrade a img {
  margin: 0 10px 4px 0;
  line-height: 28px;
}
/* line 284, ../sass/style.sass */
.companies .upgrade-first {
  margin: 0 40px 0 0;
}

/*************************************** publish *************************************** */
/* line 294, ../sass/style.sass */
.publish {
  clear: both;
  background: #30416a;
  height: 75px;
  line-height: 75px;
  width: 100%;
  font-family: "Patua One", cursive;
}
/* line 301, ../sass/style.sass */
.publish p {
  color: white;
  font-size: 26px;
  text-shadow: 0 1px 0 black;
}
/* line 305, ../sass/style.sass */
.publish p a {
  font-size: 26px;
  background: #c0ff00;
  color: black;
  padding: 8px 30px;
  margin: 0 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 0 black;
  -moz-box-shadow: 4px 4px 0 0 black;
  box-shadow: 4px 4px 0 0 black;
  text-shadow: 0 1px 0 white;
}

/*************************************** footer *************************************** */
/* line 309, ../sass/style.sass */
footer {
  height: 70px;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #617bba), color-stop(100%, #396fa6));
  background-image: -webkit-linear-gradient(#617bba, #396fa6);
  background-image: -moz-linear-gradient(#617bba, #396fa6);
  background-image: -o-linear-gradient(#617bba, #396fa6);
  background-image: -ms-linear-gradient(#617bba, #396fa6);
  background-image: linear-gradient(#617bba, #396fa6);
  border-top: 1px solid #c0cbe4;
  -webkit-box-shadow: 0px -1px 20px -4px black;
  -moz-box-shadow: 0px -1px 20px -4px black;
  box-shadow: 0px -1px 20px -4px black;
}
/* line 313, ../sass/style.sass */
footer .sparkit {
  color: white;
  text-shadow: 0 1px 0 black;
  float: right;
  text-align: center;
  font-size: 14px;
}
