<header>
	<div class="centered">
		<h1><a href="">estagiar.io - direto ao ponto</a></h1>
		<nav class="menu">
			<li><a href="#FIXME">ANUNCIE SUA VAGA</a></li>
			<li><a href="#FIXME">DIREITOS DO ESTAGIÁRIO</a></li>
			<li><a href="#FIXME">CONTATO</a></li>
		</nav>
	</div>
</header>
<nav class="fields">
	<ul class="centered">
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/engenharia.png" />ENGENHARIA</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/direito.png" />DIREITO</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/administracao.png" />ADMINISTRAÇÃO</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/economia.png" />ECONOMIA</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/programacao.png" />PROGRAMAÇÃO</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/design.png" />DESIGN</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/publicidade.png" />PUBLICIDADE</a></li>
		<li><a href="#FIXME"><img src="{{ STATIC_URL }}images/icones/outros.png" />OUTROS</a></li>
	</ul>
</nav>
