<header>
	<div class="centered">
		<h1><a href="">estagiar.io - direto ao ponto</a></h1>
		<nav class="menu">
			<li><a href="#FIXME">ANUNCIE SUA VAGA</a></li>
			<li><a href="#FIXME">DIREITOS DO ESTAGIÁRIO</a></li>
			<li><a href="#FIXME">CONTATO</a></li>
		</nav>
	</div>
</header>
<nav class="fields">
	<ul class="centered">
		<li><a href="#FIXME"><span class="engenharia"></span>ENGENHARIA</a></li>
		<li><a href="#FIXME"><span class="direito"></span>DIREITO</a></li>
		<li><a href="#FIXME"><span class="administracao"></span>ADMINISTRAÇÃO</a></li>
		<li><a href="#FIXME"><span class="economia"></span>ECONOMIA</a></li>
		<li><a href="#FIXME"><span class="programacao"></span>PROGRAMAÇÃO</a></li>
		<li><a href="#FIXME"><span class="design"></span>DESIGN</a></li>
		<li><a href="#FIXME"><span class="publicidade"></span>PUBLICIDADE</a></li>
		<li><a href="#FIXME"><span class="outros"></span>OUTROS</a></li>
	</ul>
</nav>
